@model WebApplication1.Models.CustomersModel

@{
    ViewBag.Title = "Create";
}

<h2>新增客戶資料</h2>

<form method="post" action="~/Customers/Create">
    <table class="table">
        <tr>
            <th>Customer ID</th>
            <td>
                @Html.TextBoxFor(m => m.Form.CustomerID)
            </td>
        </tr>

        <tr>
            <th>Contact Name</th>
            <td>
                @Html.TextBoxFor(m => m.Form.ContactName)
            </td>
        </tr>

        <tr>
            <th>Company Name</th>
            <td>
                @Html.TextBoxFor(m => m.Form.CompanyName)
                @*等於 <input type="text" name="Form.CompanyName"/> name設定很重要*@
            </td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>
                @Html.TextBoxFor(m => m.Form.Phone)
            </td>
        </tr>
        <tr>
            <th>Country</th>
            <td>
                @Html.TextBoxFor(m => m.Form.Country)
            </td>
        </tr>
    </table>
    <input type="submit" class="btn btn-primary" value="送出"/>
</form>
